body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: url(back-party.jpg);
    background-position: 60%;
    background-size: 100%;
}

h3 {
    text-align: center;
    color: aliceblue;
}

p {
    text-align: center;
    color: aliceblue;
}

.form {
    margin-top: 15%;
}

.fieldInput {
    font-size: 10px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 80%;
    height: 100%;
    margin-top: 1%;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    padding: 2%
}

.fieldLabel {
    color: white;
    font-weight: unset;
}

.label-float .fieldInput {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px 1px #f7f2f208;
}

.label-float .fieldInput:focus {
    /*Input E-mail*/
    border: 2px solid #1f1f1f80;
    box-shadow: 1px 1px 1px 1px #1f1f1f80;
}

.label-float .fieldInput::placeholder {
    color: black;
}

.label-float .fieldLabel {
    pointer-events: none;
    position: relative;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    box-sizing: border-box;
}

.label-float .fieldInput:required:invalid+.fieldLabel {
    /*Label Senha*/
    color: lightgrey;
    box-shadow: 1px 1px 1px 1px #e9e9e980;
}

.label-float .fieldInput:focus:required:invalid {
    /*Input*/
    border: 2px solid #1f1f1f80;
    box-shadow: 1px 1px 1px 1px #1f1f1f80;
}

.label-float .fieldInput:focus+.fieldLabel,
.label-float .fieldInput:not(:placeholder-shown)+.fieldLabel {
    font-size: 3px;
    top: 0;
    color: white;
    box-shadow: 1px 1px 1px 1px #e9e9e980;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 450px;
    background-color: #13507bf5;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 0px 4px 3px #1f1f1f80;
}

ul {
    list-style: none;
    margin-top: 30%;
}

.buttons {
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
}

button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    width: 80%;
    height: 40px;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 1px 0px #1f1f1f80;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
}

#btn {
    position: relative
}

#btn:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px #1f1f1f80;
}

#box {
    position: relative;
    transition: 0.1s;
}

#box:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px black
}


/*Radio buttons*/

.tipo-cadastros {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20%;
}

.tipo-cadastros:after {
    content: "";
    clear: both;
}

.tipo-cadastro {
    border: 0px solid white;
    box-sizing: border-box;
    float: left;
    height: 70px;
    position: relative;
    width: 20%;
}

.tipo-cadastro+.tipo-cadastro {
    margin-left: 25px;
}


/*ATE AQUI FOI*/

.tipo-cadastro .optionLabel {
    background: #fff no-repeat center center;
    bottom: 0px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 0px;
    position: absolute;
    right: 0px;
    text-indent: 100%;
    top: 0px;
    white-space: nowrap;
    border-radius: 5px;
    padding: 50%;
}

.user .optionLabel {
    background-image: url(user.png);
    background-size: contain;
}

.produtor .optionLabel {
    background-image: url(produtor.png);
    background-size: contain;
}

.loja .optionLabel {
    background-image: url(loja.png);
    background-size: contain;
}

.tipo-cadastros .optionInput:focus+.optionLabel {
    outline: 2px dotted #3d6b8c;
    border-radius: 5px;
}

.tipo-cadastros .optionInput:checked+.optionLabel {
    outline: 4px solid #3d6b8c;
    border-radius: 5px;
}

.tipo-cadastros .optionInput:checked+.optionLabel:after {
    background: url(checked.png);
    bottom: -10px;
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
    right: -10px;
    width: 20px;
}

@-moz-document url-prefix() {
    .tipo-cadastros .optionInput:checked+.optionLabel:after {
        bottom: 0;
        right: 0;
        background-color: #3d6b8c;
        border-radius: 5px;
    }
}