body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: url(back-party.jpg);
    background-position: 60%;
    background-size: 100%;
}

h3 {
    text-align: center;
    color: aliceblue;

}

p {
    text-align: center;
    color: aliceblue;
}

.form {
    margin-top: 15%;
}

input {
    font-size: 10px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 80%;
    height: 100%;
    margin-top: 1%;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    padding: 2%
}

label {
    color: white;
    font-weight: unset;

}

.label-float input {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px 1px #f7f2f208;
}


.label-float input:focus {
    /*Input E-mail*/
    border: 2px solid #1f1f1f80;
    box-shadow: 1px 1px 1px 1px #1f1f1f80;
}

.label-float input::placeholder {
    color: black;
}

.label-float label {
    pointer-events: none;
    position: relative;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    box-sizing: border-box;
}

.label-float input:required:invalid+label {
    /*Label Senha*/
    color: lightgrey;
    box-shadow: 1px 1px 1px 1px #e9e9e980;
}

.label-float input:focus:required:invalid {
    /*Input*/
    border: 2px solid #1f1f1f80;
    box-shadow: 1px 1px 1px 1px #1f1f1f80;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 3px;
    top: 0;
    color: white;
    box-shadow: 1px 1px 1px 1px #e9e9e980;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 450px;
    background-color: #13507bf5;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 0px 4px 3px #1f1f1f80;
}

ul {
    list-style: none;
}

.buttons {
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
}

button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    width: 80%;
    height: 40px;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 1px 0px #1f1f1f80;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
}

#btn {
    position: relative
}

#btn:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px #1f1f1f80;
}

#box {
    position: relative;
    transition: 0.1s;
}

#box:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px black
}
