body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: url(party.jpg);
    background-position: 60%;
    background-size: 100%;
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #274b65f2;
    z-index: 99;
    text-align: center;
    top: 0%;
}

li {
    color: aliceblue;
    margin-left: -6%;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    color: aliceblue;
}

h3 {
    text-align: center;
    color: aliceblue;
}

h4 {
    text-align: center;
    color: aliceblue;
}

p {
    color: aliceblue;
}

.evento1 {
    border-radius: 5 px;
    width: 90%;
    height: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
}

.iconEventos {
    margin-left: 11%;
    margin-top: 0.5%;
    position: absolute;
}

.iconMeusEventos {
    margin-left: 50%;
    margin-top: 2.5%;
    position: absolute;
}

a {
    color: aliceblue;
}

input {
    font-size: 15px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    width: 90%;
    height: 100%;
    margin-top: 1%;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    padding: 2%
}

label {
    color: white;
    font-weight: unset;
}

.bigDiv {
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
}

.boxEventos {
    width: 400px;
    height: 400px;
    background-color: #274b65f2;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 0px 4px 3px #1f1f1f80;
    display: inline-block;
    margin-right: 10%;
}

.boxMeusEventos {
    width: 400px;
    height: 400px;
    background-color: #294d67bf;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 3px 0px 4px 3px #1f1f1f80;
    display: inline-block;
    position: absolute;
}

.buttons {
    position: relative;
    margin-top: 8%;
    margin-left: 7%;
}

button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    width: 80%;
    height: 40px;
    text-transform: uppercase;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 2%;
    box-shadow: 1px 1px 1px 0px #1f1f1f80;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
}

#btn {
    position: relative
}

#btn:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px #1f1f1f80;
}

#box {
    position: relative;
    transition: 0.1s;
}

#box:hover {
    top: -2px;
    left: -2px;
    box-shadow: 0 9px 9px black
}